<div class="wrapper wrapper_padding clearfix">
            <div class="col-1 about homepage_content">
                <h2>A not-yet developer site</h2>
                <hr>
                <p>I am focusing on Ruby and Rails.</p>
                <p>You will find here my solutions</p>
                <p>And my projects</p>
            </div>
            <div class="col-2 homepage_content">
                <h2>What I am doing</h2>
                <hr>
                <% @posts.each do |post| %>
                    <h3><a href="#"><%= link_to post.title, post %></a></h3>
                    <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
                <% end %>
                
                <!--<h3><a href="#">railstutorial.org</a></h3>-->
                <!--<p class="date">4th august 2016</p>-->
                <!--<h3><a href="#">Well grounded Rubyist</a></h3>-->
                <!--<p class="date">4th august 2016</p>-->
            </div>
            <div class="col-3 homepage_content">
                <h2>What I have done</h2>
                <hr>
                <% @projects.each do |project| %>
                    <h3><a href="#"><%= link_to project.title, project %></a></h3>
                    <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
                <% end %>
            </div>
        </div>